<a routerLink="/admin/product/add"><button class="mb-4 btn btn-primary">Add new product</button></a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Desc</th>
            <th scope="col">Image</th>
            <th scope="col">CateId</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td class="desc">{{product.desc}}</td>
            <td><img width="70px" src={{product.image}} alt=""></td>
            <td>{{product.categoryId}}</td>
            <td>
                <a routerLink="/admin/product/update/{{product._id!}}">
                    <button class="btn btn-primary">Update</button>
                </a>
                <button class="mx-3 my-3 btn btn-danger" (click)="removeProduct(product._id!)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>