h2 {
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
}

h2:after {
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background: #7fad39;
    content: "";
    margin: 0 auto;
}

/*---------------------
  Sidebar
-----------------------*/

.sidebar__item {
    margin-bottom: 35px;
}

.sidebar__item.sidebar__item__color--option {
    overflow: hidden;
}

.sidebar__item h4 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 25px;
}

.sidebar__item ul li {
    list-style: none;
}

.sidebar__item ul li a {
    font-size: 16px;
    color: #1c1c1c;
    line-height: 39px;
    display: block;
}

.price-range-wrap .range-slider {
    margin-top: 20px;
}

.price-range-wrap .range-slider .price-input {
    position: relative;
}

.price-range-wrap .range-slider .price-input:after {
    position: absolute;
    left: 38px;
    top: 13px;
    height: 1px;
    width: 5px;
    background: #dd2222;
    content: "";
}

.price-range-wrap .range-slider .price-input input {
    font-size: 16px;
    color: #dd2222;
    font-weight: 700;
    max-width: 20%;
    border: none;
    display: inline-block;
}

.price-range-wrap .price-range {
    border-radius: 0;
}

.price-range-wrap .price-range.ui-widget-content {
    border: none;
    background: #ebebeb;
    height: 5px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #ffffff;
    border: none;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
}

.price-range-wrap .price-range .ui-slider-range {
    background: #dd2222;
    border-radius: 0;
}

.price-range-wrap .price-range .ui-slider-range:last-child {
    background: #dd2222;
}

.sidebar__item__color {
    float: left;
    width: 40%;
}

.sidebar__item__color.sidebar__item__color--white label:after {
    border: 2px solid #333333;
    background: transparent;
}

.sidebar__item__color.sidebar__item__color--gray label:after {
    background: #E9A625;
}

.sidebar__item__color.sidebar__item__color--red label:after {
    background: #D62D2D;
}

.sidebar__item__color.sidebar__item__color--black label:after {
    background: #252525;
}

.sidebar__item__color.sidebar__item__color--blue label:after {
    background: #249BC8;
}

.sidebar__item__color.sidebar__item__color--green label:after {
    background: #3CC032;
}

.sidebar__item__color label {
    font-size: 16px;
    color: #333333;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
}

.sidebar__item__color label input {
    position: absolute;
    visibility: hidden;
}

.sidebar__item__color label:after {
    position: absolute;
    left: 0;
    top: 5px;
    height: 14px;
    width: 14px;
    background: #222;
    content: "";
    border-radius: 50%;
}

.sidebar__item__size {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 10px;
}

.sidebar__item__size label {
    font-size: 12px;
    color: #6f6f6f;
    display: inline-block;
    padding: 8px 25px 6px;
    background: #f5f5f5;
    cursor: pointer;
    margin-bottom: 0;
}

.sidebar__item__size label input {
    position: absolute;
    visibility: hidden;
}

/*---------------------
  Shop Grid
-----------------------*/

.product {
    padding-top: 80px;
    padding-bottom: 80px;
}

.product__discount {
    padding-bottom: 50px;
}

.product__discount__title {
    text-align: left;
    margin-bottom: 65px;
}

.product__discount__title h2 {
    display: inline-block;
}

.product__discount__title h2:after {
    margin: 0;
    width: 100%;
}

.product__discount__item:hover .product__discount__item__pic .product__item__pic__hover {
    bottom: 20px;
}

.product__discount__item__pic {
    height: 270px;
    position: relative;
    overflow: hidden;
}

.product__discount__item__pic .product__discount__percent {
    height: 45px;
    width: 45px;
    background: #dd2222;
    border-radius: 50%;
    font-size: 14px;
    color: #ffffff;
    line-height: 45px;
    text-align: center;
    position: absolute;
    left: 15px;
    top: 15px;
}

.product__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.product__item__pic__hover li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
}

.product__item__pic__hover li:last-child {
    margin-right: 0;
}

.product__item__pic__hover li:hover a {
    background: #7fad39;
    border-color: #7fad39;
}

.product__item__pic__hover li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);
}

.product__item__pic__hover li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.product__item__pic__hover li a i {
    position: relative;
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.product__discount__item__text {
    text-align: center;
    padding-top: 20px;
}

.product__discount__item__text span {
    font-size: 14px;
    color: #b2b2b2;
    display: block;
    margin-bottom: 4px;
}

.product__discount__item__text h5 {
    margin-bottom: 6px;
}

.product__discount__item__text h5 a {
    color: #1c1c1c;
}

.product__discount__item__text .product__item__price {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
}

.product__discount__item__text .product__item__price span {
    display: inline-block;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 10px;
}

.product__discount__slider .col-lg-4 {
    max-width: 100%;
}

.product__discount__slider.owl-carousel .owl-dots {
    text-align: center;
    margin-top: 30px;
}

.product__discount__slider.owl-carousel .owl-dots button {
    height: 12px;
    width: 12px;
    border: 1px solid #b2b2b2;
    border-radius: 50%;
    margin-right: 12px;
}

.product__discount__slider.owl-carousel .owl-dots button.active {
    background: #707070;
    border-color: #6f6f6f;
}

.product__discount__slider.owl-carousel .owl-dots button:last-child {
    margin-right: 0;
}

.filter__item {
    padding-top: 45px;
    border-top: 1px solid #ebebeb;
    padding-bottom: 20px;
}

.filter__sort {
    margin-bottom: 15px;
}

.filter__sort span {
    font-size: 16px;
    color: #6f6f6f;
    display: inline-block;
}

.filter__sort .nice-select {
    background-color: #fff;
    border-radius: 0;
    border: none;
    display: inline-block;
    float: none;
    height: 0;
    line-height: 0;
    padding-left: 18px;
    padding-right: 30px;
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    cursor: pointer;
}

.filter__sort .nice-select span {
    color: #1c1c1c;
}

.filter__sort .nice-select:after {
    border-bottom: 1.5px solid #1c1c1c;
    border-right: 1.5px solid #1c1c1c;
    height: 8px;
    margin-top: 0;
    right: 16px;
    width: 8px;
    top: -5px;
}

.filter__sort .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.filter__sort .nice-select .list {
    border-radius: 0;
    margin-top: 0;
    top: 15px;
}

.filter__sort .nice-select .option {
    line-height: 30px;
    min-height: 30px;
}

.filter__found {
    text-align: center;
    margin-bottom: 15px;
}

.filter__found h6 {
    font-size: 16px;
    color: #b2b2b2;
}

.filter__found h6 span {
    color: #1c1c1c;
    font-weight: 700;
    margin-right: 5px;
}

.filter__option {
    text-align: right;
    margin-bottom: 15px;
}

.filter__option span {
    font-size: 24px;
    color: #b2b2b2;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.filter__option span:last-child {
    margin: 0;
}

.filter__option span:hover {
    color: #7fad39;
}

.product__item {
    margin-bottom: 50px;
}

.product__item:hover .product__item__pic .product__item__pic__hover {
    bottom: 20px;
}

.product__item__pic {
    height: 270px;
    position: relative;
    overflow: hidden;
}

.product__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.product__item__pic__hover li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
}

.product__item__pic__hover li:last-child {
    margin-right: 0;
}

.product__item__pic__hover li:hover a {
    background: #7fad39;
    border-color: #7fad39;
}

.product__item__pic__hover li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);
}

.product__item__pic__hover li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.product__item__pic__hover li a i {
    position: relative;
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.product__item__text {
    text-align: center;
    padding-top: 15px;
}

.product__item__text h6 {
    margin-bottom: 10px;
}

.product__item__text h6 a {
    color: #252525;
}

.product__item__text h5 {
    color: #252525;
    font-weight: 700;
}

.product__pagination,
.blog__pagination {
    padding-top: 10px;
}

.product__pagination a,
.blog__pagination a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #b2b2b2;
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-right: 16px;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.product__pagination a:hover,
.blog__pagination a:hover {
    background: #7fad39;
    border-color: #7fad39;
    color: #ffffff;
}

.product__pagination a:last-child,
.blog__pagination a:last-child {
    margin-right: 0;
}