<a routerLink="/signup"><button class="mb-4 btn btn-primary">Thêm người dùng mới</button></a>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên</th>
      <th scope="col">Email</th>
      <th scope="col">Mật khẩu</th>
      <th scope="col">Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.password }}</td>
      <td>
        <button class="mx-3 btn btn-danger" (click)="removeUser(user._id.toString())">Xóa</button>

      </td>
    </tr>
  </tbody>
</table>
