.small-form {
  width: 600px;
  margin: 0 auto;
  background-color: #dbeee0;
  padding: 20px;
  border-radius: 8px;
  margin-top: 160px;
  color: #363836;


}

.text-center {
  text-align: center;
  color: #11ab11;
}

.custom-btn-primary {
  background-color: #094c09;
  border-color: #6dbb63;
  color: #fdfdfd;
}

.banner-container {
  background-image: url(../img/thuviendohoa.vn_64.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  height: 80vh;

}

.signup {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
}

.signup:hover a {
  text-decoration: 0;
  color: #094c09;
}