<div class="banner-container">
    <form [formGroup]="formSignin" (ngSubmit)="onSubmit()" class="small-form shadow-lg">
        <div class="text-center">
            <h1>ไร้สมรรถภาพ</h1>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" formControlName="email" placeholder="Email" class="form-control" />
        </div>
        <div *ngIf="formSignin.get('email')?.hasError('required') && submitted" class="text-danger">
            Email is Required
        </div>
        <div *ngIf="formSignin.get('email')?.hasError('email') && submitted" class="text-danger">
            Email invalid
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu</label>
            <input id="password" type="password" formControlName="password" placeholder="Password"
                class="form-control" />
        </div>
        <div *ngIf="formSignin.get('password')?.hasError('required') && submitted" class="text-danger">
            Mật khẩu là bắt buộc
        </div>
        <div *ngIf="formSignin.get('password')?.hasError('minlength') && submitted" class="text-danger">
            Mật khẩu phải trên 6 ký tự
        </div>
        <div class="text-center">
            <button class="btn custom-btn-primary btn-lg btn-block">
                Đăng Nhập
            </button>

        </div>
        <div class="signup"><a href="/signup">Đăng Kí</a></div>
    </form>
</div>